body {
  background: url(images/background3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.chord-card {
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: -2rem 0 3rem -2rem #000;
}

.large-card {
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.2);

  width: 100%;

  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

  display: grid;
  grid-template-columns: 1fr 5fr;
}